.MainHeaderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerLogoUser {
  padding: 30px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10%;
  border-bottom: solid white 2px;
}

.headerLogoDiv {
  display: flex;

  gap: 5px;
}

.companyLogo {
  width: 35px;
  height: 35px;
}

.headerName {
  font-size: 20px;
  font-weight: bold;
  align-content: center;
}

.headerQuoteAnimated {
  position: relative;
  align-content: center;
  color: var(--main-color, #ffffff);
  white-space: noWrap;
  overflow: hidden;
  width: 0;
  animation: typingHeader 1s steps(5) forwards, blink 0.6s step-end infinite;
}

@keyframes typingHeader {
  from {
    width: 0;
  }
  to {
    width: 14ch;
  }
}

@keyframes blinkHeader {
  50% {
    border-right: solid var(--main-color, #ffffff);
  }
}

.logUserBtnDiv {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.logCreateBtn {
  background-color: black;
  border: solid rgb(81, 81, 237) 2px;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logCreateBtn:hover {
  background-color: rgb(81, 81, 237);
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.userTagDiv {
  padding: 5px;
  display: flex;
  border-radius: 10px;
  border: solid rgb(81, 81, 237) 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.userTagDiv:hover {
  background-color: rgb(81, 81, 237);
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.userTag {
  align-content: center;
  font-size: 12px;
  font-weight: bold;
}

.sideMenuBtn {
  width: 15%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border: solid rgb(81, 81, 237) 2px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.sideMenuBtn:hover {
  background-color: rgb(81, 81, 237);
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.userIcon {
  width: 25px;
  height: 25px;
}

.headerNav {
  background-color: rgb(81, 81, 237);
}

.topNav {
  padding: 20px 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

.topNav a {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 5px;
  transition: color 0.3s ease-in-out;
}

.topNav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.4s ease-in-out;
}

.topNav a:hover::after {
  width: 100%;
}
