.ModelContainerMain {
  text-align: center;
  border: solid 3px white;
  border-radius: 10px;
  margin: 2em;
}

.ModelContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.modelImageContainer {
  margin: 10px 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.modelImageContainer:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modelImg1 {
  width: 350px;
  height: 200px;
  border-radius: 10px 10px 0 0;
  object-fit: fill;

  display: block;
  transition: transform 0.3s ease-in-out;
}

.makeImageContainer:hover .modelImg1 {
  transform: scale(1.1);
}

.modelName {
  background-color: black;
  padding: 10px;
  margin: 0;
  position: relative;
  border-radius: 0 0 10px 10px;
  transition: background-color 0.3s ease-in-out;
}

.makeImageContainer:hover .modelName {
  background-color: #444;
}
